* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  user-select: none;
}

body {
  background-image: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExcTJybGpqeXBraHcyc3E4Ymk0bmM2djI0d3NiYjl6cmVoM2VyemxyYiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/XbJYBCi69nyVOffLIU/giphy.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background-color: rgba(0, 0, 0, 0.6);
  width: 95%;
  height: 6vh;
  margin-top: 2vh;
  margin-left: 2.5%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: large;
}

header>.uwu {
  cursor: pointer;
}

main {
  height: 70vh;
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}

.digital-clock {
    height: 5vw;
}

.digital-clock>span {
  font-size: x-large;
  font-weight: 400;
}


footer {
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: small;
  font-weight: lighter;
}



@media screen and (min-width: 600px) {
  body {
    background-position: bottom;
  }

  main {
    justify-content: flex-start;
    margin-left: 10%;
    margin-top: 35vh;
    height: 50vh;
    width: 20%;
  }

  .digital-clock>span {
    font-size: 40px;
    font-weight: 500;
  }
}
